*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea
*.jks
signing.properties
secret.properties

build/
*/Podfile.lock
*/Pods/*
*/Flare.xcworkspace/*
*/Flare.xcodeproj/*
shared/shared.podspec
.kotlin
.history
.lh
appleApp/K_D/
*.sh
!.github/scripts/*.sh
.env

GoogleService-Info.plist
