*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea
*.jks
signing.properties

build/
iosApp/Podfile.lock
iosApp/Pods/*
iosApp/Flare.xcworkspace/*
iosApp/Flare.xcodeproj/*
!iosApp/Flare.xcodeproj/project.pbxproj
shared/shared.podspec
.kotlin
.history
.lh
iosApp/K_D/
*.sh
.env

GoogleService-Info.plist
